    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
     :root {
        --primary-color: #ff4c68;
        --primary-color-hover: #ef8172;
        --off-white: #f3f4f6;
        --dark-gray: #6b7280;
    }
    
    body {
        font-family: "Montserrat";
        margin: 0rem 3rem;
    }
    
    .container {
        padding: 0rem 1rem;
    }
    
    .container-center {
        max-width: 900px;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    
    #title {
        background-color: var(--primary-color);
        padding: 3% 5% 0%;
        font-family: "Montserrat";
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    
    .link {
        box-sizing: border-box;
        text-decoration: none;
        padding: 0.5rem 1rem;
    }
    
    .list-non-bullet {
        list-style: none;
        background-color: var(--primary-color);
    }
    
    .list-item-inline {
        display: inline;
        padding: 0rem 0.5rem;
    }
    
    .navigation {
        font-family: "Ubuntu";
        background-color: var(--primary-color);
        color: white;
        padding: 2rem 2rem 0rem 2rem;
    }
    
    .navigation .nav-brand {
        font-family: 'Cinzel', serif;
        font-weight: bold;
        font-size: xx-large;
        display: inline-block;
    }
    
    .nav-brand {
        font-family: "Ubuntu";
        color: inherit;
    }
    
    .nav-brand a {
        font-family: "Ubuntu";
        color: inherit;
    }
    
    .navigation .nav-pills {
        text-align: right;
        margin: 0rem 1rem;
        float: right;
    }
    
    .navigation .link {
        color: white;
        font-size: larger;
        font-family: 'Cinzel', serif;
    }
    
    .navigation .link-active {
        font-weight: bold;
    }
    
    .heading {
        text-align: center;
    }
    
    .input-label {
        display: block;
        font-size: large;
        font-weight: 600;
    }
    
    .input {
        font-size: 14px;
        outline: #fff;
        padding: 0.6rem 1rem;
        margin: 2rem 1rem;
        border: 2px solid var(--primary-color);
        border-radius: 0.5rem;
        width: 100%;
        max-width: 150px;
    }
    
    #submit-answers-btn {
        background-color: var(--primary-color);
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        color: #ffffff;
        outline: #ffffff;
        margin: auto;
        display: block;
        font-size: 20px;
        padding: 1rem;
        text-align: center;
    }
    
    .btn-check {
        background-color: var(--primary-color);
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        color: #ffffff;
        outline: #ffffff;
        margin: auto;
        display: block;
        font-size: 20px;
        padding: 1rem;
        text-align: center;
    }
    
    .output {
        color: var(--primary-color);
        font-size: xx-large;
    }
    
    hr {
        border-top: 5px dotted red;
        margin: 7% 30% 7% 30%;
    }
    
    .footer {
        background-color: var(--primary-color);
        padding: 2rem 1rem;
        text-align: center;
        color: white;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }
    
    .footer .link {
        color: white;
    }
    
    .footer .footer-header {
        font-weight: bold;
        font-size: large;
    }
    
    .footer ul {
        padding-inline-start: 0px;
    }
    
    img {
        width: 40px;
        padding: 0.2rem;
        display: inline;
    }