@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');


:root {
  --primary-color: #ed3a3a;
}

body {
  font-family: 'Zen Kurenaido', sans-serif;
  margin: 0px auto;
  max-width: 85%;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
}

.nav-brand a {
  text-decoration: none;
  color: inherit;
}

.navigation .nav-pills {
  text-align: right;
  margin: 0.6rem 1rem;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
}

.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}


.heading {
  color: var(--primary-color);
  text-align: center;
}


/* Main */

main {
  margin: 0 0 7rem;
  text-align: center;
}

main h1 {
  margin: 1rem;
}

/*  Input */

.input-label {
  font-size: larger;
  font-weight: bold;
  width: 256px;
}

.input-label p {
  font-size: larger;
  margin: 0.5rem;
}

.input-text {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

.btn-check {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: 1rem auto;
  display: block;
}

.output {
  font-size: x-large;
  margin: 1rem;
  font-weight: bold;
}

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

a,
img,
li {
  display: inline;
}

img {
  width: 40px;
  padding: 0.2rem;
}
